apiVersion: v1
kind: Service
metadata:
  name: demo-service
spec:
  type: LoadBalancer
  selector:
    app: demo
    color: blue # or green to switch the traffic
  ports:
    - port: 80
      targetPort: 8080